.navbar-brand{
    &.bg-image{
        display: inline-block;
        padding:0;
        font-size:0;
        line-height: 0;
    }
    background: transparent url(../img/logo.png) no-repeat left center;
    background-size:100% auto;
/*    min-height:50px;
    min-width:250px;*/
    @media screen and (min-width:993px){
        min-height:75px;
        min-width:300px;
        margin-right:3vW;
    }
    span {
        display:block;
        text-indent:-9999999px;
    }
}
.navbar{
    #top-nav &{
        padding:0;
    }
}
.navbar-toggler{
    background:transparent;
    > [class*="fa"]{
        color:$logoBlue;
        font-size:2em;
    }
}
.nav-item{
    #top-nav &{
        margin-bottom:-.5em;
        padding:0 1em;
        @include border-bottom-radius(.5em);
        text-transform:uppercase;
        font-weight:bold;
        > .nav-link {
            padding-top:2em;
            @media screen and (max-width:480px){
                padding-bottom:1em;
            }
        }
        & > .nav-link{
            color:white !important;
        }
        &.cat-blue{
            background:$blue;
        }
        &.cat-yellow{
            background:$yellow;
        }
        &.cat-pink{
            background:$pink;
        }
        &.cat-green{
            background:$green;
        }
        @media screen and (min-width:992px){
            @include display(flex);
            @include align-items(center);
        }
    }
    #top-nav &.home .nav-link{
        width:0;
        height:0;
        padding:0;
        @include transition(all 120ms ease-in-out);
        text-indent: -999999px;
    }
    #top-nav &.search .nav-link{
        opacity:0;
        @include transition(all 120ms ease-in-out);
    }
    #top-nav[class*="js-is-st"] &.home .nav-link{
            background: transparent url(../img/logo-white.png) no-repeat center center / contain;
            min-width: 215px;
            height: 35px;
            padding: .2em;
            @include transition(all 400ms ease-out);
    }
    #top-nav[class*="js-is-st"] &.search .nav-link{
         opacity:1;
        @include transition(all 120ms ease-in-out);
    }

}
#top-nav{
    z-index:9999;
    &.js-is-sticky,
    &.js-is-stuck{
        position:fixed;
        top:0;
        left:0;
        right:0;
        
        @include shadow;
    }
    .navbar-light{
        background:$blueGrey;
        @include transition(all 200ms ease-out);
        
    }
}
.dropdown-menu{
    font-size: 1em;
    padding:0;
    border:0;
    color:white;
    .dropdown.cat-blue &{
        background:$darkerBlue;
    }
    .dropdown.cat-yellow &{
        background:$darkerYellow;
    }
    .dropdown.cat-pink &{
        background:$darkerPink;
    }
    .dropdown.cat-green &{
        background:$darkerGreen;
    }
    li, a {
        background:inherit;
        color:inherit;
    }
    .dropdown-submenu{
        position:relative;
    }
    .dropdown-item{
        color:inherit;
        padding:1em 2em;
        border-bottom:1px solid currentColor;

        &:hover,
            &:active,
            &:focus,
            &[tabindex="-1"]:focus{
            background-color:rgba(0,0,0,.025)!important;
            color:inherit!important;
        }
        &:focus{
            font-weight:bold;
        }
    }

    @media screen and (max-width:767px){
        &.show{
            margin:0 -15px;
        }
    }
    @media screen and (min-width:768px){   
        top: 100%;
        left: 50%;
        z-index:99999;
        @include shadow;
        &:before{
            content:'';
            top: -2em;
            position: absolute;
            display: block;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 1em;
            left: .5em;
        }
        .dropdown.cat-blue &:before{
            border-color: transparent transparent $darkerBlue transparent;
        }
        .dropdown.cat-yellow &:before{
            border-color: transparent transparent $darkerYellow transparent;
        }
        .dropdown.cat-pink &:before{
            border-color: transparent transparent $darkerPink transparent;
        }
        .dropdown.cat-green &:before{
            border-color: transparent transparent $darkerGreen transparent;
        }
    }
    @media screen and (min-width:992px){ 
        min-width: 200px;
    }
}

/*** Sidebar ***/
#infoblock{
@include transition(all 400ms ease-out);
    @media screen and (max-width:991px){
        margin:1em 0;
        @include border-top-radius(1.2em);
        @include border-bottom-radius(1.2em);
        overflow:hidden;
    }
    @media screen and (max-width:767px){
            &.js-is-sticky,
    &.js-is-stuck{
        position:fixed;
            top:50px;
            left:0;
            right:0;
            background:white;
            z-index:9998;
            margin:0 -15px;
            @include border-radius(0);
    }
    }
    @media screen and (min-width:992px){
        top:0;
        &.js-is-sticky,
        &.js-is-stuck{
            top:100px !important;
        }
    }
    [id*="btn"]{
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.2;
        margin: 0 0 1px 0;
        padding: 1em .5em;
        &:hover,
        &:focus{
            cursor:pointer;
        }
        &[class*="cat"]{
            color:white;
        }

        &.cat-blue{
            background:$blue;
        }
        &.cat-yellow{
            background:$yellow;
        }
        &.cat-pink{
            background:$pink;
        }
        &.cat-green{
            background:$green;
        }
    }
    [id*="collapse"]{
        @media screen and (min-width:992px){
            display:block;
        }

    }
}

[aria-label="breadcrumb"]{
    width:100%;
    .breadcrumb{
        background-color:transparent;
        width:inherit;
        &:after{
            content:'';
            height:.3rem;
            margin-top:1em;
            width:100%;
            display: block;
            @include multiple-border;
        }
        .breadcrumb-item{
            &:before{
                @include icon-style ("\f0da", .5em, 1, .5em, 2em);
                @include category-color
            }
            &:first-child:before{
                display:none;
            }
        }
    }
}
