

[aria-label="breadcrumb"]{
    width:100%;
    .breadcrumb{
        width:inherit;
        &:after{
            content:'';
            height:.3rem;
            margin-top:1em;
            width:100%;
            display: block;
            @include multiple-border;
        }
        .breadcrumb-item{
            &:before{
                @include icon-style ("\f0da", .5em, 1, .5em, 2em);
                @include category-color
            }
            &:first-child:before{
                display:none;
            }
        }
    }
}
