.cta{
    .card{background:$yellow;}
    *{color:white;}
}

/*** Content ***/

.list-group-item-action{
    color:white;
}
.list-group-item-action:hover, .list-group-item-action:focus{
    footer &{
        background: darken($green,10%);
        color:lighten($green, 50%);
    }
}

.icon{
    padding: 0 2em .5em;
    font-size: 3em;
    color:white;

    + a {
        min-height: 40px;
        display:block;
    }
}




.modal-dialog{
    margin:15vH auto;
}
.modal-body{
    padding:2em;
}
.modal-header{
    .has-image &{
        padding:0;
        height: 230px;
        overflow: hidden;
    }
}





.google-map{
    .iframe-elastic{
        @include category-border(2px 0, solid);
        
        .tab-pane &{
            border-width:2px;
        }
    }
}