.btn{
    &:not(.btn-info),
    &:hover, &:focus {
        color:#fff;
    }
    @include category-backgrounds;
    &.btn-inverse{
        background-color: $bg-inverse !important;
        color: $white;
        background-image: none;
        background-repeat: repeat-x;
        border-color: transparent;
        text-shadow: none;

        .button-group & {
            margin-right: 1em;
            color:#fff;
        }
    }
    &.btn-primary{background-color: $primary !important;}
    &.btn-secondary{background-color: $secondary !important;}
    &.btn-success{background-color: $success !important;}
    &.btn-danger{background-color: $danger !important;}
    &.btn-warning{background-color: $warning !important;}
    &.btn-info{background-color: $info !important;}
    &.btn-small {
        @include button-style (3px,5px 10px, 0.850em );
    }
    [class*="cat-"] & {
        color:white;
    }
    [class*="fa"]{font-size:larger;}
    .box &{
        color: $white;
    }
    &[disabled] {opacity: 1;}
    span{
        display:none;
    }
    .card &{
        margin:0 -.5em !important;
    }
    .cat-yellow & {
        background: $blue;
        &:hover{
            background: darken($blue,5%); 
        }
    }
    .cat-yellow & {
        background: $yellow;
        &:hover{
            background: darken($yellow,5%); 
        }
    }
    .cat-pink & {
        background: $pink;
        &:hover{
            background: darken($pink,5%); 
        }
    }
    .cat-green & {
        background: $green;
        &:hover{
            background: darken($green,5%); 
        }
    }
}
a.btn-primary{
    color:lighten($primary,100%);
}

.btn-primary{
    background: $blue;
    &:hover{
        background: darken($primary,10%);
    }
}



.no-display{
    display:none;
}





